# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# Docker
*.tgz
*.tar.gz
*.tar
.dockerignore

# GitHub Actions
.github/workflows/*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/

# Entornos locales o credenciales
.env
.env.*
